<mat-list-item class="list-item" *ngIf="task">
    <mat-checkbox #check class="list-item__checkbox"
                  [(ngModel)]="task.done"                  
                  (ngModelChange)="updateTaskStatus($event)">                  
                  {{task.item}}
    </mat-checkbox>

    <button class="list-item__button--delete"
            (click)="deleteTask()"
            
            mat-icon-button
            color="warn">
        <mat-icon>delete</mat-icon>
    </button>
</mat-list-item>