.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    &__field--task-name{
        margin-right: 10px;
    }
    &__button--submit{
        margin-top: 13px;
    }
}